.modal-style {
  width: 480px;
}
.modal-style > h3 {
  margin: 60px 0 60px 160px;
  color: #e74936;
}
.modal-style > hr {
  margin: 10px;
  background-color: #eeeeee;
  height: 0, 5px;
}
.modal-style > h1 {
  margin-left: 10px;
  margin-top: 20px;
}
.add-items {
  display: flex;
  margin-top: 20px;
}
.add-item {
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 40px;
  background-color: #eeeeee;
}
.add-item > span {
  margin-left: 10px;
}
.add-det-item {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.add-det-item > img {
  margin-right: 10px;
  height: 80px;
  width: 80px;
}
.clear-cut-btn {
  border-top: 1px solid #888888;
}
.clear-cut-btn > button {
  font-size: 16px;
  margin: 20px;
  height: 40px;
  width: 440px;
  color: #f7ffff;
  background-color: black;
  border-radius: 10px;
}
