.map-categories {
  display: flex;
  margin-top: 20px;
}

.oder {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  height: 80vh;
  overflow-y: scroll;

  overflow-x: hidden;
  width: 60vw;
  border-bottom: 1px solid rgb(226 226 226);
}
.oder > h3 {
  margin: 80px 0 40px 25px;
  font-size: 40px;
}
.drop-down {
  display: flex;
  flex-direction: row;
}
/* restaurant */
.sponsered {
  margin-top: 20px;
}

.restu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
